<div class="mt-hero text-center">
    <div>
        <div class="mb-5">
            <h1 class="text-primary font-weight-light pb-4">Simple CV Maker.</h1>
            <h4 class="text-secondary serif-font">
                Create, edit, delete and export your CVs as <strong>PDF</strong>.
                <br>
                <br>
                It's FREE, totally FREE.
            </h4>
        </div>
        <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-lg btn-primary serif-font' %>
    </div>
</div>
