<div class="text-center my-5">
    <div class="text-secondary mb-5">
        <h1 class="font-weight-light mb-4">Simple CV Maker.</h1>
        <p>
            Create, edit, delete and export your CVs as <strong>PDF</strong>. Made with love and for love, I mean it, really.
            <br>
            <br>
            It's FREE, totally FREE.
        </p>
    </div>
    <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-lg btn-primary' %>
</div>
