html, body {
    font-family: 'Palatino', 'Baskerville', 'Perpetua', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
}

.btn {
    font-family: Arial, sans-serif;
}

.navbar {
    font-family: Arial, sans-serif;
}

// style devise errors
#error_explanation {
    @extend .alert;
    @extend .alert-danger;

    h2 {
        font-size: 1em;
    }
}

@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 1.6cm;
        background: #e6e6fa;
    }

    h1 {
        color: red;
        font-size: 100px;
        background: #e6e6fa;
    }
}
