.serif-font {
    font-family: 'Palatino', 'Baskerville', 'Perpetua', serif;
}

.sans-serif-font {
    font-family: Arial, sans-serif;
}

html, body {
    @extend .serif-font;
}

h1, h2, h3, h4, h5, h6, .btn, .navbar {
    @extend .sans-serif-font;
}

.image-bg {
    background-image: image-url('wood.jpg');
    background-repeat: no-repeat;
    background-position: top;
}

.main-container {
}

.mt-hero {
    margin-top: 20%;
    margin-bottom: 10%;
}

// style devise errors
#error_explanation {
    @extend .alert;
    @extend .alert-danger;

    h2 {
        font-size: 1em;
    }
}

@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 1.6cm;
        background: #e6e6fa;
    }

    h1 {
        color: red;
        font-size: 100px;
        background: #e6e6fa;
    }
}
