// Fonts
/* roboto-300 - latin-ext_cyrillic-ext_latin_vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-300.eot')); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-300.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-300.woff2')) format('woff2'), /* Super Modern Browsers */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-300.woff')) format('woff'), /* Modern Browsers */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-300.ttf')) format('truetype'), /* Safari, Android, iOS */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-300.svg#Roboto')) format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin-ext_cyrillic-ext_latin_vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-regular.eot')); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-regular.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-regular.woff2')) format('woff2'), /* Super Modern Browsers */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-regular.woff')) format('woff'), /* Modern Browsers */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-regular.ttf')) format('truetype'), /* Safari, Android, iOS */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-regular.svg#Roboto')) format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin-ext_cyrillic-ext_latin_vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-700.eot')); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-700.eot?#iefix')) format('embedded-opentype'), /* IE6-IE8 */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-700.woff2')) format('woff2'), /* Super Modern Browsers */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-700.woff')) format('woff'), /* Modern Browsers */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-700.ttf')) format('truetype'), /* Safari, Android, iOS */
       url(asset-path('fonts/roboto-v18-latin-ext_cyrillic-ext_latin_vietnamese-700.svg#Roboto')) format('svg'); /* Legacy iOS */
}

.serif-font {
    font-family: 'Palatino', 'Baskerville', 'Perpetua', serif;
}

.sans-serif-font {
    font-family: 'Roboto', Arial, sans-serif;
}

html, body {
    @extend .sans-serif-font;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-family: 0.8em;
    margin-bottom: 1.5em;
}

.image-bg {
    background-image: image-url('wood.jpg');
    background-repeat: no-repeat;
    background-position: top;
}

.mt-hero {
    margin-top: 20%;
    margin-bottom: 10%;
}

.cursor-move {
    cursor: move;

    &.btn { cursor: move !important; }
}

.table-with-form {
    tr > td {
        padding: 2em;
        background-color: #fbfbfb;
        border-bottom: 10px solid #ffffff;
        border-top: 0;
    }
}

.ui-sortable-helper {
    display: table;
}

// style devise errors
#error_explanation {
    @extend .alert;
    @extend .alert-danger;

    h2 {
        font-size: 1em;
    }
}
