$color-primary: #2776aa;
$font-sans-serif: Roboto, NewCenturySchlbk, Helvetica, Arial, sans-serif;
$font-serif: Palatino, Georgia, Times, serif !important;

@media all {
    body {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        * {
            box-sizing: border-box;
        }
    }

    // TEMPLATES DESIGN
    // template default
    .template-default {
        color: #000000;
        width: 100%;
        height: 100%;
        font-size: 12px;

        .col-right {
            width: 100%;
            max-width: 72%;
            margin-right: 3%;
            float: left;

            .personal-details {
                width: 100%;
                max-width: 160mm;
                position: relative;

                .entry {
                    margin: 0 0 4em;
                    padding-left: 107px;

                    h2 {
                        font-family: $font-sans-serif;
                        margin: 0;

                        &.subtitle {
                            font-size: 13px;
                            font-weight: 300;
                            margin-top: 5px;
                        }
                    }

                    p {
                        font-family: $font-serif;
                        font-size: 11px;
                        font-style: italic;
                        line-height: 1.5em;
                    }
                }
            }

            .timeline {
                width: 100%;
                max-width: 160mm;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 20%;
                    bottom: 0px;
                    width: 2px;
                    background: #ddd;
                }

                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }

                .entry {
                    clear: both;
                    text-align: left;
                    position: relative;
                    page-break-inside: avoid;

                    .section {
                        float: right;
                        width: 80%;
                        padding-left: 15px;
                        margin-top: 1em;
                        page-break-after: avoid;
                        page-break-before: avoid;

                        h3 {
                            margin: 0 0 13px;
                            font-family: $font-sans-serif;
                        }
                    }

                    .time {
                        margin-bottom: .5em;
                        float: left;
                        width: 20%;
                        padding-right: 15px;
                        text-align: right;
                        position: relative;
                        font-family: $font-sans-serif;

                        &:before {
                            content: '';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            background-color: #2776aa;
                            border-radius: 100%;
                            top: 15%;
                            right: -5px;
                            z-index: 99;
                        }

                        &.blank {
                            &:before {
                                margin-top: 3px;
                            }
                        }

                        &.section-block {
                            &:before {
                                width: 12px;
                                height: 12px;
                                background-color: #000;
                                right: -7px;
                                margin-top: 14px;
                            }
                        }

                        span {
                            margin: 0;
                            font-size: 10px;
                            font-weight: 300;
                            color: #777777;
                        }
                    }

                    &:first-child {
                        .section {
                            margin-top: 0;
                        }

                        .time.section-block:before {
                            margin-top: 0.8px;
                        }
                    }

                    .body {
                        margin: 0 0 1em;
                        float: right;
                        width: 80%;
                        padding-left: 15px;
                        page-break-inside: avoid;

                        p.title {
                            font-family: $font-sans-serif;
                            margin-top: 0;
                            margin-bottom: 5px;
                        }

                        p.subtitle {
                            font-family: $font-serif;
                            font-weight: 400;
                            margin: 0;
                            font-weight: 200;
                            font-size: 10px;
                            font-style: italic;
                        }

                        .summary {
                            font-family: $font-serif;
                            font-weight: 400;
                            line-height: 1.6em;
                            font-size: 10px;
                            margin-top: 10px;
                            page-break-inside: avoid;

                            ul {
                                padding-left: 24px;
                                list-style-type: circle;

                                li {
                                    margin-bottom: 0.5em;
                                }
                            }
                        }
                    }
                }
            }
        }

        .col-left {
            width: 100%;
            font-family: $font-sans-serif;
            max-width: 25%;
            float: right;

            .entry {
                margin-bottom: 1em;

                h3 {
                    margin: 0;
                }

                dl {
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    margin-top: 0.5em;
                    margin-bottom: 1.5em;

                    dt {
                        font-weight: 600;
                        font-size: 9px;
                        margin-bottom: 0.2em;
                        color: #777777;
                    }

                    dd {
                        font-weight: 200;
                        line-height: 1.2em;
                        font-size: 9px;
                        margin-left: 0;
                        margin-bottom: 1.3em;

                        p { margin: 0 }
                    }
                }
            }

            .profile-image {
                max-width: 100%;
                .image {
                    width: 100%;
                    max-height: 200px;
                    margin-bottom: 3em;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

// screen only
@media screen {
    .template-default {
        padding: 5em;
        margin-bottom: 5em;
        width: 210mm;
        min-height: 270mm;

        .col-right, .col-left {
            margin-bottom: 5em;
        }
    }

    .preview {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .btn {
            text-decoration: none;
            border-radius: 5px;
            padding: 0.8em;
            background: darken(#dedede, 3%);
            color: $color-primary;

            &:hover {
                background: darken(#dedede, 7%);
            }

            &.btn-primary {
                background: $color-primary;
                color: #ffffff;

                &:hover {
                    background: darken($color-primary, 5%);
                }
            }
        }

        .nav {
            font-family: $font-sans-serif;
            vertical-align: middle;
            width: 100%;
            padding: 0.5em;
            background: #f3f3f3;
            border-bottom: 1px solid #dedede;

            .container {
                max-width: 210mm;
                margin: 0 auto;
            }

            h3 {
                float: left;
                margin: 12px 0;
                color: $color-primary;
            }

            .actions {
                margin: 12px 0;
                float: right;
            }
        }

        .cv-preview {
            border: 1px gray solid;
            margin: 2em auto;
            width: 210mm;
            min-height: 270mm;
        }
    }
}

// Print only
@media print {
    @page {
        margin: 0;
    }
}
