<div class="row">
    <div class="col-12">
        <h3><span class="js-firstname"><%= @cv_template.firstname %></span> <span class="js-lastname"><%= @cv_template.lastname %></span></h3>
        <h5><span class="js-profession"><%= @cv_template.profession %></span></h5>
    </div>
</div>
