<% if @cv_template.skills.any? %>
    <% @cv_template.skills.each do |skill| %>
        <%= render 'frontend/skills/form', skill: skill %>
    <% end %>
<% else %>
    <%= render 'frontend/skills/form', skill: @user.skills.new(cv_template: @cv_template) %>
<% end %>

<div class="new-js-skill"></div>

<%= link_to 'Continue', edit_cv_template_path(@cv_template, step: 'languages'), class: 'btn btn-primary' %>
<%= link_to 'Add more', new_cv_template_skill_path(@cv_template), remote: true, class: 'btn btn-outline-primary' %>
