<% if @cv_template.educations.any? %>
    <% @cv_template.educations.each do |education| %>
        <%= render 'frontend/educations/form', education: education %>
    <% end %>
<% else %>
    <%= render 'frontend/educations/form', education: @user.educations.new(cv_template: @cv_template) %>
<% end %>

<div class="new-js-education"></div>

<%= link_to 'Continue', edit_cv_template_path(@cv_template, step: 'experiences'), class: 'btn btn-primary' %>
<%= link_to 'Add more', new_cv_template_education_path(@cv_template), remote: true, class: 'btn btn-outline-primary' %>
