<!DOCTYPE html>
<html>
<head>
    <title>CV Maker by Frank Etoundi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>

<body>
    <%= yield %>
</body>
</html>
